* {
  margin: 0;
  padding: 0;
  }

.body {
  background-color: #e8f5e9;
  }

.wrapper {
  width: 80%;
  display: flex;
  
  flex-wrap: wrap;
  justify-content: space-between;
  
  margin: 0 auto;
  }

.users-input {
  margin: 30px 0;
  
  flex-direction: column;
  
  display: flex;
  width: 500px;
  }

#bomb-quantity,
#table-quantity {
  color: #1b5e20;
  }

#bomb-quantity::-webkit-input-placeholder,
#table-quantity::-webkit-input-placeholder {
  color: #1b5e20;
  }

.score-board {
  margin: 30px 0;
  
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  }

.score-board--elem {
  font-size: 26px;
  font-weight: bold;
  }

.score-board--elem__win-count {
  color: #1b5e20;
  }

.score-board--elem__lose-count {
  color: #d84315;
  }

#container {
  width: 500px;
  height: 500px;
  display: flex;
  
  margin: 60px auto;
  
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  }

h1 {
  text-align: center;
  text-shadow: 1px 1px black;
  }

.element {
  border: 1px solid black;
  background-color: #c8e6c9;
  box-sizing: border-box;
  display: flex;
  
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: bold;
  color: #4a148c;
  }

.element:hover {
  cursor: pointer;
  background-color: #81c784;
  }

.element.empty {
  cursor: default;
  background-color: #757575;
  }

.element.visited {
  background-color: white;
  }

.flag {
  background: #81c784 url('flag.svg') center no-repeat;
  }

.bomb.active {
  background: url('bomb.svg') center center no-repeat;
  }

/*modal success*/

.modal-bg__success,
.modal-bg__lose,
.modal-bg__check {
  
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  
  display: none;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  }

.modal-bg__show {
  display: block;
  }

.modal-success,
.modal-lose,
.modal-check {
  position: fixed;
  top: 20%;
  left: 42%;
  
  width: 300px;
  border: 2px solid #2e7d32;
  background-color: #c8e6c9;
  animation: .7s fadeIn 1 linear;
  }


.modal-success_show {
  display: block;
  }

.modal-success__heading,
.modal-check_headung {
  text-align: center;
  color: #1b5e20;
  }

.modal-lose {
  border: 2px solid #d84315;
  background-color: #ffab91;
  }

.modal-lose__heading {
  text-align: center;
  }

@keyframes fadeIn {
  0% {
    opacity: 0;
    top: -100px;
    }
  
  30% {
    opacity: .25;
    top: 0;
    }
  
  100% {
    opacity: 1;
    top: 20%;
    }
  }

@media (max-width: 810px) {
  .wrapper {
    justify-content: center;
    }
  }

.close-modal {
  position: fixed;
  top: 20px;
  right: 20px;
  
  width: 30px;
  height: 30px;
  }

.close-modal:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);
  }

.close-modal:hover svg {
  animation: .8s spin infinite linear;
  transform-origin: 50% 40%;
  }

@keyframes spin {
  0% {
    transform: rotate(0deg);
    }
  
  100% {
    transform: rotate(-360deg);
    }
    
  }